<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1470337458703-46ad1756a187?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3298&q=80);">
  <div class="container">
    <div class="centered">
      <h1>Yes!<br />Let's add a new cocktail</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <%= simple_form_for @cocktail do |f| -%>
        <%= f.input :name %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <div class="text-center">
            <%= f.submit "Add cocktail", class: "btn btn-primary w-50"  %>
      </div>
      <% end -%>
    </div>
  </div>
</div>
